@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./chatStyle.css');
@import url('./joinStyle.css');
/* main style */
:root {
  --fontMain: #f5cd92;
  --fontSecondary: #d3a457;
  --bluu: #196580;
  --backgroundMain: #2e2a24;
  --backgroundSecondary: #4b3a20;
}
*, body {
  background-color: #2e2a24;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f5cd92
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #f5cd92;
  cursor: pointer;
  padding: 5px 15px;
  border: 0;
  font-size: 17px;
}
